html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.navbar-brand {
	height: 40px;
}

#predefined, #rgb, #cmyk, #about-colors {
	display: flex;
	justify-content: center;
}

#bg-image {
	width: 100%;
	height: auto;
}

h1 {
	margin-top: 10vh !important;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 0;
}

#predefined {
	scroll-margin-top: -10px;
}

#logo {
	width: 35px;
	height: 35px;
	margin: 0px 10px;
}

.mask {
	display: flex;
	justify-content: center;
	background-color: black;
	padding-bottom: 45px;
	position: absolute;
	top: 0;
	left: 12vw;
	background: none;
	text-shadow: 0 0 10px black;
	z-index: 10;
}

.mask .btn {
	width: 150px;
	height: 48px;
	background-color: rgba(0,0,0,0.5);
	text-shadow: none;
	margin-top: -7px;
}
.mask h1 {
	font-size: 10vw;
}





/*-----------------------------------------------Predefined Colors -------------------------------*/

.bg-color, .bg-color-2, .bg-color-3 {
	width: 10vw;
	height: 35px;
	margin: 10px 5px;
	border: 1px solid rgba(100, 100, 100, 0.3);
}

p {
	display: flex;
	justify-content: left;
	width: 30vw;
	height: auto;
	margin: 0 11vw;
	padding-top: 5px;
}

/*--------------------------First column----------------------------------------*/

.bg-color:nth-child(1) {
	background-color: #F0F8FF;
}
.bg-color:nth-child(2) {
	background-color: #FAEBD7;
}
.bg-color:nth-child(3) {
	background-color: #00FFFF;
}
.bg-color:nth-child(4) {
	background-color: #7FFFD4;
}
.bg-color:nth-child(5) {
	background-color: #F0FFFF; /*Azure*/
}
.bg-color:nth-child(6) {
	background-color: #F5F5DC; /*Beige*/
}
.bg-color:nth-child(7) {
	background-color: #FFE4C4; /*Bisque*/
}
.bg-color:nth-child(8) {
	background-color: #000000; /*Black*/
}
.bg-color:nth-child(9) {
	background-color: #FFEBCD; /*BlanchedAlmond*/
}
.bg-color:nth-child(10) {
	background-color: #0000FF; /*Blue*/
}
.bg-color:nth-child(11) {
	background-color: #8A2BE2; /*BlueViolet*/
}
.bg-color:nth-child(12) {
	background-color: #A52A2A; /*Brown*/
}
.bg-color:nth-child(13) {
	background-color: #DEB887; /*BurlyWood*/
}
.bg-color:nth-child(14) {
	background-color: #5F9EA0; /*CadetBlue*/
}
.bg-color:nth-child(15) {
	background-color: #7FFF00; /*Chartreuse*/
}
.bg-color:nth-child(16) {
	background-color: #D2691E; /*Chocolate*/
}
.bg-color:nth-child(17) {
	background-color: #FF7F50; /*Coral*/
}
.bg-color:nth-child(18) {
	background-color: #6495ED; /*Chornflowerblue*/
}
.bg-color:nth-child(19) {
	background-color: #FFF8DC; /*Cornsilk*/
}
.bg-color:nth-child(20) {
	background-color: #DC143C; /*Crimson*/
}
.bg-color:nth-child(21) {
	background-color: #00FFFF; /*Cyan*/
}
.bg-color:nth-child(22) {
	background-color: #00008B; /*DarkBlue*/
}
.bg-color:nth-child(23) {
	background-color: #008B8B; /*DarkCyan*/
}
.bg-color:nth-child(24) {
	background-color: #B8860B; /*DarkGoldenRod*/
}
.bg-color:nth-child(25) {
	background-color: #A9A9A9; /*DarkGray*/
}
.bg-color:nth-child(26) {
	background-color: #8B008B; /*DarkMagenta*/
}
.bg-color:nth-child(27) {
	background-color: #556B2F; /*DarkOliveGreen*/
}
.bg-color:nth-child(28) {
	background-color: #FF8C00; /*DarkOrange*/
}
.bg-color:nth-child(29) {
	background-color: #9932CC; /*DarkOrchid*/
}
.bg-color:nth-child(30) {
	background-color: #8B0000; /*DarkRed*/
}
.bg-color:nth-child(31) {
	background-color: #E9967A; /*DarSalmon*/
}
.bg-color:nth-child(32) {
	background-color: #8FBC8F; /*DarkSeaGreen*/
}
.bg-color:nth-child(33) {
	background-color: #483D8B; /*DarkSlateBlue*/
}
.bg-color:nth-child(34) {
	background-color: #2F4F4F; /*DarkSlateGray*/
}
.bg-color:nth-child(35) {
	background-color: #00CED1; /*DarkTurquoise*/
}
.bg-color:nth-child(36) {
	background-color: #9400D3; /*DarkViolet*/
}
.bg-color:nth-child(37) {
	background-color: #FF1493; /*DeepPink*/
}
.bg-color:nth-child(38) {
	background-color: #00BFFF; /*DeepSkyBlue*/
}
.bg-color:nth-child(39) {
	background-color: #696969; /*DimGray*/
}
.bg-color:nth-child(40) {
	background-color: #1E90FF; /*DodgerBlue*/
}
.bg-color:nth-child(41) {
	background-color: #B22222; /*FireBrick*/
}
.bg-color:nth-child(42) {
	background-color: #FFFAF0; /*FloralWhite*/
}
.bg-color:nth-child(43) {
	background-color: #228B22; /*ForestGreen*/
}
.bg-color:nth-child(44) {
	background-color: #FF00FF; /*Fuchsia*/
}
.bg-color:nth-child(45) {
	background-color: #DCDCDC; /*Gainsboro*/
}
.bg-color:nth-child(46) {
	background-color: #F8F8FF; /*GhostWhite*/
}
.bg-color:nth-child(47) {
	background-color: #F5F5DC;
}

/*--------------------------Second column----------------------------------------*/

.bg-color-2:nth-child(1) {
	background-color: #FFD700; /*Gold*/
}
.bg-color-2:nth-child(2) {
	background-color: #DAA520; /*GoldenRod*/
}
.bg-color-2:nth-child(3) {
	background-color: #808080; /*Gray*/
}
.bg-color-2:nth-child(4) {
	background-color: #008000; /*Green*/
}
.bg-color-2:nth-child(5) {
	background-color: #ADFF2F; /*GreenYellow*/
}
.bg-color-2:nth-child(6) {
	background-color: #F0FFF0; /*HoneyDew*/
}
.bg-color-2:nth-child(7) {
	background-color: #FF69B4; /*HotPink*/
}
.bg-color-2:nth-child(8) {
	background-color: #CD5C5C; /*IndianRed*/
}
.bg-color-2:nth-child(9) {
	background-color: #4B0082; /*Indigo*/
}
.bg-color-2:nth-child(10) {
	background-color: #FFFFF0; /*Ivory*/
}
.bg-color-2:nth-child(11) {
	background-color: #F0E68C; /*Khaki*/
}
.bg-color-2:nth-child(12) {
	background-color: #E6E6FA; /*Lavender*/
}
.bg-color-2:nth-child(13) {
	background-color: #FFF0F5; /*LavenderBlush*/
}
.bg-color-2:nth-child(14) {
	background-color: #7CFC00; /*LawnGreen*/
}
.bg-color-2:nth-child(15) {
	background-color: #FFFACD; /*LemonShiffon*/
}
.bg-color-2:nth-child(16) {
	background-color: #ADD8E6; /*LightBlue*/
}
.bg-color-2:nth-child(17) {
	background-color: #F08080; /*LightCoral*/
}
.bg-color-2:nth-child(18) {
	background-color: #E0FFFF; /*LightCyan*/
}
.bg-color-2:nth-child(19) {
	background-color: #FAFAD2; /*LightGoldenRodYellow*/
}
.bg-color-2:nth-child(20) {
	background-color: #D3D3D3; /*LightGray*/
}
.bg-color-2:nth-child(21) {
	background-color: #90EE90; /*LightGreen*/
}
.bg-color-2:nth-child(22) {
	background-color: #FFB6C1; /*LightPink*/
}
.bg-color-2:nth-child(23) {
	background-color: #FFA07A; /*LightSalmon*/
}
.bg-color-2:nth-child(24) {
	background-color: #20B2AA; /*LighSeaGreen*/
}
.bg-color-2:nth-child(25) {
	background-color: #87CEFA; /*LightSkyBlue*/
}
.bg-color-2:nth-child(26) {
	background-color: #778899; /*LightSlateGray*/
}
.bg-color-2:nth-child(27) {
	background-color: #B0C4DE; /*LightSteelBlue*/
}
.bg-color-2:nth-child(28) {
	background-color: #FFFFE0; /*LightYellow*/
}
.bg-color-2:nth-child(29) {
	background-color: #00FF00; /*Lime*/
}
.bg-color-2:nth-child(30) {
	background-color: #32CD32; /*LimeGreen*/
}
.bg-color-2:nth-child(31) {
	background-color: #FAF0E6; /*Linen*/
}
.bg-color-2:nth-child(32) {
	background-color: #FF00FF; /*Magenta*/
}
.bg-color-2:nth-child(33) {
	background-color: #800000; /*Maroon*/
}
.bg-color-2:nth-child(34) {
	background-color: #66CDAA; /*MediumAquaMarin*/
}
.bg-color-2:nth-child(35) {
	background-color: #0000CD; /*MediumBlue*/
}
.bg-color-2:nth-child(36) {
	background-color: #BA55D3; /*MediumOrchid*/
}
.bg-color-2:nth-child(37) {
	background-color: #9370DB; /*MediumPurple*/
}
.bg-color-2:nth-child(38) {
	background-color: #3CB371; /*MediumSeaGreen*/
}
.bg-color-2:nth-child(39) {
	background-color: #7B68EE; /*MediumStateBlue*/
}
.bg-color-2:nth-child(40) {
	background-color: #00FA9A; /*MediumSpringGreen*/
}
.bg-color-2:nth-child(41) {
	background-color: #48D1CC; /*MediumTurqoise*/
}
.bg-color-2:nth-child(42) {
	background-color: #C71585; /*MediumVioletRed*/
}
.bg-color-2:nth-child(43) {
	background-color: #191970; /*MidnightBlue*/
}
.bg-color-2:nth-child(44) {
	background-color: #F5FFFA; /*MintCream*/
}
.bg-color-2:nth-child(45) {
	background-color: #FFE4E1; /*MistyRose*/
}
.bg-color-2:nth-child(46) {
	background-color: #FFE4B5; /*Moccasin*/
}

/*--------------------------Third column----------------------------------------*/

.bg-color-3:nth-child(1) {
	background-color: #FFDEAD; /*NavajoWhite*/
}
.bg-color-3:nth-child(2) {
	background-color: #000080; /*Navy*/
}
.bg-color-3:nth-child(3) {
	background-color: #FDF5E6; /*OldLace*/
}
.bg-color-3:nth-child(4) {
	background-color: #808000; /*Olive*/
}
.bg-color-3:nth-child(5) {
	background-color: #6B8E23; /*OliveDrab*/
}
.bg-color-3:nth-child(6) {
	background-color: #FFA500; /*Orange*/
}
.bg-color-3:nth-child(7) {
	background-color: #FF4500; /*OrangeRed*/
}
.bg-color-3:nth-child(8) {
	background-color: #DA70D6; /*Orchid*/
}
.bg-color-3:nth-child(9) {
	background-color: #EEE8AA; /*PaleGoldenRod*/
}
.bg-color-3:nth-child(10) {
	background-color: #98FB98; /*PaleGreen*/
}
.bg-color-3:nth-child(11) {
	background-color: #AFEEEE; /*PaleTurquoise*/
}
.bg-color-3:nth-child(12) {
	background-color: #DB7093; /*PaleVioletRed*/
}
.bg-color-3:nth-child(13) {
	background-color: #FFEFD5; /*PapayaWhip*/
}
.bg-color-3:nth-child(14) {
	background-color: #FFDAB9; /*PeachPuff*/
}
.bg-color-3:nth-child(15) {
	background-color: #CD853F; /*Peru*/
}
.bg-color-3:nth-child(16) {
	background-color: #FFC0CB; /*Pink*/
}
.bg-color-3:nth-child(17) {
	background-color: #DDA0DD; /*Plum*/
}
.bg-color-3:nth-child(18) {
	background-color: #B0E0E6; /*PowderBlue*/
}
.bg-color-3:nth-child(19) {
	background-color: #800080; /*Purple*/
}
.bg-color-3:nth-child(20) {
	background-color: #663399; /*RebeccaPurple*/
}
.bg-color-3:nth-child(21) {
	background-color: #FF0000; /*Red*/
}
.bg-color-3:nth-child(22) {
	background-color: #BC8F8F; /*RosyBrown*/
}
.bg-color-3:nth-child(23) {
	background-color: #4169E1; /*RoyalBlue*/
}
.bg-color-3:nth-child(24) {
	background-color: #8B4513; /*SaddleBrown*/
}
.bg-color-3:nth-child(25) {
	background-color: #FA8072; /*Salmon*/
}
.bg-color-3:nth-child(26) {
	background-color: #F4A460; /*SandyBrown*/
}
.bg-color-3:nth-child(27) {
	background-color: #2E8B57; /*SeaGreen*/
}
.bg-color-3:nth-child(28) {
	background-color: #FFF5EE; /*SeaShell*/
}
.bg-color-3:nth-child(29) {
	background-color: #A0522D; /*Sienna*/
}
.bg-color-3:nth-child(30) {
	background-color: #C0C0C0; /*Silver*/
}
.bg-color-3:nth-child(31) {
	background-color: #87CEEB; /*SkyBlue*/
}
.bg-color-3:nth-child(32) {
	background-color: #6A5ACD; /*SlateBlue*/
}
.bg-color-3:nth-child(33) {
	background-color: #708090; /*SlateGray*/
}
.bg-color-3:nth-child(34) {
	background-color: #FFFAFA; /*Snow*/
}
.bg-color-3:nth-child(35) {
	background-color: #00FF7F; /*SpringGreen*/
}
.bg-color-3:nth-child(36) {
	background-color: #4682B4; /*SteelBlue*/
}
.bg-color-3:nth-child(37) {
	background-color: #D2B48C; /*Tan*/
}
.bg-color-3:nth-child(38) {
	background-color: #008080; /*Teal*/
}
.bg-color-3:nth-child(39) {
	background-color: #D8BFD8; /*Thistle*/
}
.bg-color-3:nth-child(40) {
	background-color: #FF6347; /*Tomato*/
}
.bg-color-3:nth-child(41) {
	background-color: #40E0D0; /*Turquoise*/
}
.bg-color-3:nth-child(42) {
	background-color: #EE82EE; /*Violet*/
}
.bg-color-3:nth-child(43) {
	background-color: #F5DEB3; /*Wheat*/
}
.bg-color-3:nth-child(44) {
	background-color: #FFFFFF; /*White*/
}
.bg-color-3:nth-child(45) {
	background-color: #F5F5F5; /*WhiteSmoke*/
}
.bg-color-3:nth-child(46) {
	background-color: #FFFF00; /*Yellow*/
}
.bg-color-3:nth-child(47) {
	background-color: #9ACD32; /*YellowGreen*/
}


/*----------------------------------RGB---------------------------------------*/

.bg-color-rgb, .bg-color-rgb1, .bg-color-rgb2, .bg-color-rgb3, .bg-color-rgb4, .bg-color-rgb5, .bg-color-rgb6,
.bg-color-rgb7, .bg-color-rgb8, .bg-color-rgb9, .bg-color-rgb10, .bg-color-rgb11  {
	display: inline-block;
	width: 55px;
	height: 55px;
	margin: 0;
	border: 1px solid rgba(100, 100, 100, 0.3);
}

.bg-color-rgb:nth-child(1) {
	background-color: rgb(100%, 0%, 0%);
}
.bg-color-rgb:nth-child(2) {
	background-color: rgb(255, 230, 230);/*rgb(100%, 90%, 90%);*/
}
.bg-color-rgb:nth-child(3) {
	background-color: rgb(255, 204, 204);/*rgb(100%, 80%, 80%);*/
}
.bg-color-rgb:nth-child(4) {
	background-color: rgb(100%, 70%, 70%);
}
.bg-color-rgb:nth-child(5) {
	background-color: rgb(100%, 60%, 60%);
}
.bg-color-rgb:nth-child(6) {
	background-color: rgb(100%, 50%, 50%);
}
.bg-color-rgb:nth-child(7) {
	background-color: rgb(100%, 40%, 40%);
}
.bg-color-rgb:nth-child(8) {
	background-color: rgb(100%, 30%, 30%);
}
.bg-color-rgb:nth-child(9) {
	background-color: rgb(100%, 20%, 20%);
}
.bg-color-rgb:nth-child(10) {
	background-color: rgb(100%, 10%, 10%);
}
.bg-color-rgb:nth-child(11) {
	background-color: rgb(100%, 0%, 0%);
}
.bg-color-rgb:nth-child(12) {
	background-color: rgb(90%, 0%, 0%);
}
.bg-color-rgb:nth-child(13) {
	background-color: rgb(80%, 0%, 0%);
}
.bg-color-rgb:nth-child(14) {
	background-color: rgb(70%, 0%, 0%);
}
.bg-color-rgb:nth-child(15) {
	background-color: rgb(60%, 0%, 0%);
}
.bg-color-rgb:nth-child(16) {
	background-color: rgb(50%, 0%, 0%);
}
.bg-color-rgb:nth-child(17) {
	background-color: rgb(40%, 0%, 0%);
}
.bg-color-rgb:nth-child(18) {
	background-color: rgb(30%, 0%, 0%);
}
.bg-color-rgb:nth-child(19) {
	background-color: rgb(20%, 0%, 0%);
}
.bg-color-rgb:nth-child(20) {
	background-color: rgb(10%, 0%, 0%);
}
.bg-color-rgb:nth-child(20) {
	background-color: rgb(0%, 0%, 0%);
}

/*----------------------------------RGB row 2---------------------------------------*/

.bg-color-rgb1:nth-child(1) {
	background-color: rgb(100%, 50%, 0%);
}
.bg-color-rgb1:nth-child(2) {
	background-color: rgb(100%, 90%, 80%); /*rgb(255, 229, 204)*/
}
.bg-color-rgb1:nth-child(3) {
	background-color: rgb(100%, 85%, 70%); /*rgb(255, 217, 180)*/
}
.bg-color-rgb1:nth-child(4) {
	background-color: rgb(100%, 80%, 60%);
}
.bg-color-rgb1:nth-child(5) {
	background-color: rgb(100%, 75%, 50%);
}
.bg-color-rgb1:nth-child(6) {
	background-color: rgb(100%, 70%, 40%);
}
.bg-color-rgb1:nth-child(7) {
	background-color: rgb(100%, 65%, 30%);
}
.bg-color-rgb1:nth-child(8) {
	background-color: rgb(100%, 60%, 20%);
}
.bg-color-rgb1:nth-child(9) {
	background-color: rgb(100%, 55%, 20%);
}
.bg-color-rgb1:nth-child(10) {
	background-color: rgb(100%, 50%, 10%);
}
.bg-color-rgb1:nth-child(11) {
	background-color: rgb(100%, 50%, 0%);
}
.bg-color-rgb1:nth-child(12) {
	background-color: rgb(90%, 40%, 0%);
}
.bg-color-rgb1:nth-child(13) {
	background-color: rgb(80%, 30%, 0%);
}
.bg-color-rgb1:nth-child(14) {
	background-color: rgb(70%, 20%, 0%);
}
.bg-color-rgb1:nth-child(15) {
	background-color: rgb(60%, 10%, 0%);
}
.bg-color-rgb1:nth-child(16) {
	background-color: rgb(50%, 0%, 0%);
}
.bg-color-rgb1:nth-child(17) {
	background-color: rgb(40%, 0%, 0%);
}
.bg-color-rgb1:nth-child(18) {
	background-color: rgb(30%, 0%, 0%);
}
.bg-color-rgb1:nth-child(19) {
	background-color: rgb(20%, 0%, 0%);
}
.bg-color-rgb1:nth-child(20) {
	background-color: rgb(10%, 0%, 0%);
}

/*-----------------------------------RGB row 3 -----------------------------*/

.bg-color-rgb2:nth-child(1) {
	background-color: rgb(100%, 100%, 0%);
}
.bg-color-rgb2:nth-child(2) {
	background-color: rgb(100%, 100%, 90%);
}
.bg-color-rgb2:nth-child(3) {
	background-color: rgb(100%, 100%, 80%);
}
.bg-color-rgb2:nth-child(4) {
	background-color: rgb(100%, 100%, 70%);
}
.bg-color-rgb2:nth-child(5) {
	background-color: rgb(100%, 100%, 60%);
}
.bg-color-rgb2:nth-child(6) {
	background-color: rgb(100%, 100%, 50%);
}
.bg-color-rgb2:nth-child(7) {
	background-color: rgb(100%, 100%, 40%);
}
.bg-color-rgb2:nth-child(8) {
	background-color: rgb(100%, 100%, 30%);
}
.bg-color-rgb2:nth-child(9) {
	background-color: rgb(100%, 100%, 20%);
}
.bg-color-rgb2:nth-child(10) {
	background-color: rgb(100%, 100%, 10%);
}
.bg-color-rgb2:nth-child(11) {
	background-color: rgb(100%, 100%, 0%);
}
.bg-color-rgb2:nth-child(12) {
	background-color: rgb(90%, 90%, 0%);
}
.bg-color-rgb2:nth-child(13) {
	background-color: rgb(80%, 80%, 0%);
}
.bg-color-rgb2:nth-child(14) {
	background-color: rgb(70%, 70%, 0%);
}
.bg-color-rgb2:nth-child(15) {
	background-color: rgb(60%, 60%, 0%);
}
.bg-color-rgb2:nth-child(16) {
	background-color: rgb(50%, 50%, 0%);
}
.bg-color-rgb2:nth-child(17) {
	background-color: rgb(40%, 40%, 0%);
}
.bg-color-rgb2:nth-child(18) {
	background-color: rgb(30%, 30%, 0%);
}
.bg-color-rgb2:nth-child(19) {
	background-color: rgb(20%, 20%, 0%);
}
.bg-color-rgb2:nth-child(20) {
	background-color: rgb(10%, 10%, 0%);
}


/*-----------------------------------RGB row 4 -----------------------------*/


.bg-color-rgb3:nth-child(1) {
	background-color: rgb(50%, 100%, 0%);
}
.bg-color-rgb3:nth-child(2) {
	background-color: rgb(95%, 100%, 90%);
}
.bg-color-rgb3:nth-child(3) {
	background-color: rgb(90%, 100%, 80%);
}
.bg-color-rgb3:nth-child(4) {
	background-color: rgb(85%, 100%, 70%);
}
.bg-color-rgb3:nth-child(5) {
	background-color: rgb(80%, 100%, 60%);
}
.bg-color-rgb3:nth-child(6) {
	background-color: rgb(75%, 100%, 50%);
}
.bg-color-rgb3:nth-child(7) {
	background-color: rgb(70%, 100%, 40%);
}
.bg-color-rgb3:nth-child(8) {
	background-color: rgb(65%, 100%, 30%);
}
.bg-color-rgb3:nth-child(9) {
	background-color: rgb(60%, 100%, 20%);
}
.bg-color-rgb3:nth-child(10) {
	background-color: rgb(55%, 100%, 10%);
}
.bg-color-rgb3:nth-child(11) {
	background-color: rgb(50%, 100%, 0%);
}
.bg-color-rgb3:nth-child(12) {
	background-color: rgb(45%, 90%, 0%);
}
.bg-color-rgb3:nth-child(13) {
	background-color: rgb(40%, 80%, 0%);
}
.bg-color-rgb3:nth-child(14) {
	background-color: rgb(35%, 70%, 0%);
}
.bg-color-rgb3:nth-child(15) {
	background-color: rgb(30%, 60%, 0%);
}
.bg-color-rgb3:nth-child(16) {
	background-color: rgb(25%, 50%, 0%);
}
.bg-color-rgb3:nth-child(17) {
	background-color: rgb(20%, 40%, 0%);
}
.bg-color-rgb3:nth-child(18) {
	background-color: rgb(15%, 30%, 0%);
}
.bg-color-rgb3:nth-child(19) {
	background-color: rgb(10%, 20%, 0%);
}
.bg-color-rgb3:nth-child(20) {
	background-color: rgb(5%, 10%, 0%);
}

/*-----------------------------------RGB row 5 -----------------------------*/


.bg-color-rgb4:nth-child(1) {
	background-color: rgb(0%, 100%, 0%);
}
.bg-color-rgb4:nth-child(2) {
	background-color: rgb(90%, 100%, 90%);
}
.bg-color-rgb4:nth-child(3) {
	background-color: rgb(80%, 100%, 80%);
}
.bg-color-rgb4:nth-child(4) {
background-color: rgb(70%, 100%, 70%);
}
.bg-color-rgb4:nth-child(5) {
	background-color: rgb(60%, 100%, 60%);
}
.bg-color-rgb4:nth-child(6) {
	background-color: rgb(50%, 100%, 50%);
}
.bg-color-rgb4:nth-child(7) {
	background-color: rgb(40%, 100%, 40%);
}
.bg-color-rgb4:nth-child(8) {
	background-color: rgb(30%, 100%, 30%);
}
.bg-color-rgb4:nth-child(9) {
	background-color: rgb(20%, 100%, 20%);
}
.bg-color-rgb4:nth-child(10) {
	background-color: rgb(10%, 100%, 10%);
}
.bg-color-rgb4:nth-child(11) {
	background-color: rgb(0%, 100%, 0%);
}
.bg-color-rgb4:nth-child(12) {
	background-color: rgb(0%, 90%, 0%);
}
.bg-color-rgb4:nth-child(13) {
	background-color: rgb(0%, 80%, 0%);
}
.bg-color-rgb4:nth-child(14) {
	background-color: rgb(0%, 70%, 0%);
}
.bg-color-rgb4:nth-child(15) {
	background-color: rgb(0%, 60%, 0%);
}
.bg-color-rgb4:nth-child(16) {
	background-color: rgb(0%, 50%, 0%);
}
.bg-color-rgb4:nth-child(17) {
	background-color: rgb(0%, 40%, 0%);
}
.bg-color-rgb4:nth-child(18) {
	background-color: rgb(0%, 30%, 0%);
}
.bg-color-rgb4:nth-child(19) {
	background-color: rgb(0%, 20%, 0%);
}
.bg-color-rgb4:nth-child(20) {
	background-color: rgb(0%, 10%, 0%);
}

/*-----------------------------------RGB row 6 -----------------------------*/


.bg-color-rgb5:nth-child(1) {
	background-color: rgb(0%, 100%, 50%);
}
.bg-color-rgb5:nth-child(2) {
	background-color: rgb(90%, 100%, 95%);
}
.bg-color-rgb5:nth-child(3) {
	background-color: rgb(80%, 100%, 90%);
}
.bg-color-rgb5:nth-child(4) {
background-color: rgb(70%, 100%, 85%);
}
.bg-color-rgb5:nth-child(5) {
	background-color: rgb(60%, 100%, 80%);
}
.bg-color-rgb5:nth-child(6) {
	background-color: rgb(50%, 100%, 75%);
}
.bg-color-rgb5:nth-child(7) {
	background-color: rgb(40%, 100%, 70%);
}
.bg-color-rgb5:nth-child(8) {
	background-color: rgb(30%, 100%, 65%);
}
.bg-color-rgb5:nth-child(9) {
	background-color: rgb(20%, 100%, 60%);
}
.bg-color-rgb5:nth-child(10) {
	background-color: rgb(10%, 100%, 55%);
}
.bg-color-rgb5:nth-child(11) {
	background-color: rgb(0%, 100%, 50%);
}
.bg-color-rgb5:nth-child(12) {
	background-color: rgb(0%, 90%, 45%);
}
.bg-color-rgb5:nth-child(13) {
	background-color: rgb(0%, 80%, 40%);
}
.bg-color-rgb5:nth-child(14) {
	background-color: rgb(0%, 70%, 35%);
}
.bg-color-rgb5:nth-child(15) {
	background-color: rgb(0%, 60%, 30%);
}
.bg-color-rgb5:nth-child(16) {
	background-color: rgb(0%, 50%, 25%);
}
.bg-color-rgb5:nth-child(17) {
	background-color: rgb(0%, 40%, 20%);
}
.bg-color-rgb5:nth-child(18) {
	background-color: rgb(0%, 30%, 15%);
}
.bg-color-rgb5:nth-child(19) {
	background-color: rgb(0%, 20%, 10%);
}
.bg-color-rgb5:nth-child(20) {
	background-color: rgb(0%, 10%, 5%);
}

/*-----------------------------------RGB row 7 -----------------------------*/


.bg-color-rgb6:nth-child(1) {
	background-color: rgb(0%, 100%, 100%);
}
.bg-color-rgb6:nth-child(2) {
	background-color: rgb(90%, 100%, 100%);
}
.bg-color-rgb6:nth-child(3) {
	background-color: rgb(80%, 100%, 100%);
}
.bg-color-rgb6:nth-child(4) {
	background-color: rgb(70%, 100%, 100%);
}
.bg-color-rgb6:nth-child(5) {
	background-color: rgb(60%, 100%, 100%);
}
.bg-color-rgb6:nth-child(6) {
	background-color: rgb(50%, 100%, 100%);
}
.bg-color-rgb6:nth-child(7) {
	background-color: rgb(40%, 100%, 100%);
}
.bg-color-rgb6:nth-child(8) {
	background-color: rgb(30%, 100%, 100%);
}
.bg-color-rgb6:nth-child(9) {
	background-color: rgb(20%, 100%, 100%);
}
.bg-color-rgb6:nth-child(10) {
	background-color: rgb(10%, 100%, 100%);
}
.bg-color-rgb6:nth-child(11) {
	background-color: rgb(0%, 100%, 100%);
}
.bg-color-rgb6:nth-child(12) {
	background-color: rgb(0%, 90%, 90%);
}
.bg-color-rgb6:nth-child(13) {
	background-color: rgb(0%, 80%, 80%);
}
.bg-color-rgb6:nth-child(14) {
	background-color: rgb(0%, 70%, 70%);
}
.bg-color-rgb6:nth-child(15) {
	background-color: rgb(0%, 60%, 60%);
}
.bg-color-rgb6:nth-child(16) {
	background-color: rgb(0%, 50%, 50%);
}
.bg-color-rgb6:nth-child(17) {
	background-color: rgb(0%, 40%, 40%);
}
.bg-color-rgb6:nth-child(18) {
	background-color: rgb(0%, 30%, 30%);
}
.bg-color-rgb6:nth-child(19) {
	background-color: rgb(0%, 20%, 20%);
}
.bg-color-rgb6:nth-child(20) {
	background-color: rgb(0%, 10%, 10%);
}

/*-----------------------------------RGB row 8 -----------------------------*/


.bg-color-rgb7:nth-child(1) {
	background-color: rgb(0%, 50%, 100%);
}
.bg-color-rgb7:nth-child(2) {
	background-color: rgb(90%, 95%, 100%);
}
.bg-color-rgb7:nth-child(3) {
	background-color: rgb(80%, 90%, 100%);
}
.bg-color-rgb7:nth-child(4) {
	background-color: rgb(70%, 85%, 100%);
}
.bg-color-rgb7:nth-child(5) {
	background-color: rgb(60%, 80%, 100%);
}
.bg-color-rgb7:nth-child(6) {
	background-color: rgb(50%, 75%, 100%);
}
.bg-color-rgb7:nth-child(7) {
	background-color: rgb(40%, 70%, 100%);
}
.bg-color-rgb7:nth-child(8) {
	background-color: rgb(30%, 65%, 100%);
}
.bg-color-rgb7:nth-child(9) {
	background-color: rgb(20%, 60%, 100%);
}
.bg-color-rgb7:nth-child(10) {
	background-color: rgb(10%, 55%, 100%);
}
.bg-color-rgb7:nth-child(11) {
	background-color: rgb(0%, 50%, 100%);
}
.bg-color-rgb7:nth-child(12) {
	background-color: rgb(0%, 45%, 90%);
}
.bg-color-rgb7:nth-child(13) {
	background-color: rgb(0%, 40%, 80%);
}
.bg-color-rgb7:nth-child(14) {
	background-color: rgb(0%, 35%, 70%);
}
.bg-color-rgb7:nth-child(15) {
	background-color: rgb(0%, 30%, 60%);
}
.bg-color-rgb7:nth-child(16) {
	background-color: rgb(0%, 25%, 50%);
}
.bg-color-rgb7:nth-child(17) {
	background-color: rgb(0%, 20%, 40%);
}
.bg-color-rgb7:nth-child(18) {
	background-color: rgb(0%, 15%, 30%);
}
.bg-color-rgb7:nth-child(19) {
	background-color: rgb(0%, 10%, 20%);
}
.bg-color-rgb7:nth-child(20) {
	background-color: rgb(0%, 5%, 10%);
}

/*-----------------------------------RGB row 9 -----------------------------*/


.bg-color-rgb8:nth-child(1) {
	background-color: rgb(0%, 0%, 100%);
}
.bg-color-rgb8:nth-child(2) {
	background-color: rgb(90%, 90%, 100%);
}
.bg-color-rgb8:nth-child(3) {
	background-color: rgb(80%, 80%, 100%);
}
.bg-color-rgb8:nth-child(4) {
background-color: rgb(70%, 70%, 100%);
}
.bg-color-rgb8:nth-child(5) {
	background-color: rgb(60%, 60%, 100%);
}
.bg-color-rgb8:nth-child(6) {
	background-color: rgb(50%, 50%, 100%);
}
.bg-color-rgb8:nth-child(7) {
	background-color: rgb(40%, 40%, 100%);
}
.bg-color-rgb8:nth-child(8) {
	background-color: rgb(30%, 30%, 100%);
}
.bg-color-rgb8:nth-child(9) {
	background-color: rgb(20%, 20%, 100%);
}
.bg-color-rgb8:nth-child(10) {
	background-color: rgb(10%, 10%, 100%);
}
.bg-color-rgb8:nth-child(11) {
	background-color: rgb(0%, 0%, 100%);
}
.bg-color-rgb8:nth-child(12) {
	background-color: rgb(0%, 0%, 90%);
}
.bg-color-rgb8:nth-child(13) {
	background-color: rgb(0%, 0%, 80%);
}
.bg-color-rgb8:nth-child(14) {
	background-color: rgb(0%, 0%, 70%);
}
.bg-color-rgb8:nth-child(15) {
	background-color: rgb(0%, 0%, 60%);
}
.bg-color-rgb8:nth-child(16) {
	background-color: rgb(0%, 0%, 50%);
}
.bg-color-rgb8:nth-child(17) {
	background-color: rgb(0%, 0%, 40%);
}
.bg-color-rgb8:nth-child(18) {
	background-color: rgb(0%, 0%, 30%);
}
.bg-color-rgb8:nth-child(19) {
	background-color: rgb(0%, 0%, 20%);
}
.bg-color-rgb8:nth-child(20) {
	background-color: rgb(0%, 0%, 10%);
}

/*-----------------------------------RGB row 10 -----------------------------*/


.bg-color-rgb9:nth-child(1) {
	background-color: rgb(50%, 0%, 100%);
}
.bg-color-rgb9:nth-child(2) {
	background-color: rgb(95%, 90%, 100%);
}
.bg-color-rgb9:nth-child(3) {
	background-color: rgb(90%, 80%, 100%);
}
.bg-color-rgb9:nth-child(4) {
	background-color: rgb(85%, 70%, 100%);
}
.bg-color-rgb9:nth-child(5) {
	background-color: rgb(80%, 60%, 100%);
}
.bg-color-rgb9:nth-child(6) {
	background-color: rgb(75%, 50%, 100%);
}
.bg-color-rgb9:nth-child(7) {
	background-color: rgb(70%, 40%, 100%);
}
.bg-color-rgb9:nth-child(8) {
	background-color: rgb(65%, 30%, 100%);
}
.bg-color-rgb9:nth-child(9) {
	background-color: rgb(60%, 20%, 100%);
}
.bg-color-rgb9:nth-child(10) {
	background-color: rgb(55%, 10%, 100%);
}
.bg-color-rgb9:nth-child(11) {
	background-color: rgb(50%, 0%, 100%);
}
.bg-color-rgb9:nth-child(12) {
	background-color: rgb(45%, 0%, 90%);
}
.bg-color-rgb9:nth-child(13) {
	background-color: rgb(40%, 0%, 80%);
}
.bg-color-rgb9:nth-child(14) {
	background-color: rgb(35%, 0%, 70%);
}
.bg-color-rgb9:nth-child(15) {
	background-color: rgb(30%, 0%, 60%);
}
.bg-color-rgb9:nth-child(16) {
	background-color: rgb(25%, 0%, 50%);
}
.bg-color-rgb9:nth-child(17) {
	background-color: rgb(20%, 0%, 40%);
}
.bg-color-rgb9:nth-child(18) {
	background-color: rgb(15%, 0%, 30%);
}
.bg-color-rgb9:nth-child(19) {
	background-color: rgb(10%, 0%, 20%);
}
.bg-color-rgb9:nth-child(20) {
	background-color: rgb(5%, 0%, 10%);
}

/*-----------------------------------RGB row 11 -----------------------------*/


.bg-color-rgb10:nth-child(1) {
	background-color: rgb(100%, 0%, 100%);
}
.bg-color-rgb10:nth-child(2) {
	background-color: rgb(100%, 90%, 100%);
}
.bg-color-rgb10:nth-child(3) {
	background-color: rgb(100%, 80%, 100%);
}
.bg-color-rgb10:nth-child(4) {
	background-color: rgb(100%, 70%, 100%);
}
.bg-color-rgb10:nth-child(5) {
	background-color: rgb(100%, 60%, 100%);
}
.bg-color-rgb10:nth-child(6) {
	background-color: rgb(100%, 50%, 100%);
}
.bg-color-rgb10:nth-child(7) {
	background-color: rgb(100%, 40%, 100%);
}
.bg-color-rgb10:nth-child(8) {
	background-color: rgb(100%, 30%, 100%);
}
.bg-color-rgb10:nth-child(9) {
	background-color: rgb(100%, 20%, 100%);
}
.bg-color-rgb10:nth-child(10) {
	background-color: rgb(100%, 10%, 100%);
}
.bg-color-rgb10:nth-child(11) {
	background-color: rgb(100%, 0%, 100%);
}
.bg-color-rgb10:nth-child(12) {
	background-color: rgb(90%, 0%, 90%);
}
.bg-color-rgb10:nth-child(13) {
	background-color: rgb(80%, 0%, 80%);
}
.bg-color-rgb10:nth-child(14) {
	background-color: rgb(70%, 0%, 70%);
}
.bg-color-rgb10:nth-child(15) {
	background-color: rgb(60%, 0%, 60%);
}
.bg-color-rgb10:nth-child(16) {
	background-color: rgb(50%, 0%, 50%);
}
.bg-color-rgb10:nth-child(17) {
	background-color: rgb(40%, 0%, 40%);
}
.bg-color-rgb10:nth-child(18) {
	background-color: rgb(30%, 0%, 30%);
}
.bg-color-rgb10:nth-child(19) {
	background-color: rgb(20%, 0%, 20%);
}
.bg-color-rgb10:nth-child(20) {
	background-color: rgb(10%, 0%, 10%);
}

/*-----------------------------------RGB row 12 -----------------------------*/


.bg-color-rgb11:nth-child(1) {
	background-color: rgb(100%, 0%, 50%);
}
.bg-color-rgb11:nth-child(2) {
	background-color: rgb(100%, 90%, 95%);
}
.bg-color-rgb11:nth-child(3) {
	background-color: rgb(100%, 80%, 90%);
}
.bg-color-rgb11:nth-child(4) {
	background-color: rgb(100%, 70%, 85%);
}
.bg-color-rgb11:nth-child(5) {
	background-color: rgb(100%, 60%, 80%);
}
.bg-color-rgb11:nth-child(6) {
	background-color: rgb(100%, 50%, 75%);
}
.bg-color-rgb11:nth-child(7) {
	background-color: rgb(100%, 40%, 70%);
}
.bg-color-rgb11:nth-child(8) {
	background-color: rgb(100%, 30%, 65%);
}
.bg-color-rgb11:nth-child(9) {
	background-color: rgb(100%, 20%, 60%);
}
.bg-color-rgb11:nth-child(10) {
	background-color: rgb(100%, 10%, 55%);
}
.bg-color-rgb11:nth-child(11) {
	background-color: rgb(100%, 0%, 50%);
}
.bg-color-rgb11:nth-child(12) {
	background-color: rgb(90%, 0%, 45%);
}
.bg-color-rgb11:nth-child(13) {
	background-color: rgb(80%, 0%, 40%);
}
.bg-color-rgb11:nth-child(14) {
	background-color: rgb(70%, 0%, 35%);
}
.bg-color-rgb11:nth-child(15) {
	background-color: rgb(60%, 0%, 30%);
}
.bg-color-rgb11:nth-child(16) {
	background-color: rgb(50%, 0%, 25%);
}
.bg-color-rgb11:nth-child(17) {
	background-color: rgb(40%, 0%, 20%);
}
.bg-color-rgb11:nth-child(18) {
	background-color: rgb(30%, 0%, 15%);
}
.bg-color-rgb11:nth-child(19) {
	background-color: rgb(20%, 0%, 10%);
}
.bg-color-rgb11:nth-child(20) {
	background-color: rgb(10%, 0%, 5%);
}


/*----------------------------------CMYK 1---------------------------------------*/

.bg-color-cmyk1, .bg-color-cmyk2, .bg-color-cmyk3, .bg-color-cmyk4, .bg-color-cmyk5, .bg-color-cmyk6,
.bg-color-cmyk7, .bg-color-cmyk8, .bg-color-cmyk9, .bg-color-cmyk10, .bg-color-cmyk11, .bg-color-cmyk12 {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid rgba(100, 100, 100, 0.3);
	cursor: pointer;
}

.bg-color-cmyk1:nth-child(1) {
	background-color: rgb(230, 255, 255);
}
.bg-color-cmyk1:nth-child(2) {
	background-color: rgb(204, 255, 255); 
}
.bg-color-cmyk1:nth-child(3) {
	background-color: rgb(179, 255, 255);
}
.bg-color-cmyk1:nth-child(4) {
	background-color: rgb(153, 255, 255); 
}
.bg-color-cmyk1:nth-child(5) {
	background-color: rgb(128, 255, 255); 
}
.bg-color-cmyk1:nth-child(6) {
	background-color: rgb(102, 255, 255); 
}
.bg-color-cmyk1:nth-child(7) {
	background-color: rgb(77, 255, 255);
}
.bg-color-cmyk1:nth-child(8) {
	background-color: rgb(51, 255, 255); 
}
.bg-color-cmyk1:nth-child(9) {
	background-color: rgb(26, 255, 255); 
}
.bg-color-cmyk1:nth-child(10) {
	background-color: rgb(0, 255, 255);
}

/*-----------------------------------CMYK row 2 -----------------------------*/

.bg-color-cmyk2:nth-child(1) {
	background-color: rgb(255, 230, 255);
}
.bg-color-cmyk2:nth-child(2) {
	background-color: rgb(255, 204, 255); 
}
.bg-color-cmyk2:nth-child(3) {
	background-color: rgb(255, 179, 255); 
}
.bg-color-cmyk2:nth-child(4) {
	background-color: rgb(255, 153, 255); 
}
.bg-color-cmyk2:nth-child(5) {
	background-color: rgb(255, 128, 255); 
}
.bg-color-cmyk2:nth-child(6) {
	background-color: rgb(255, 102, 255); 
}
.bg-color-cmyk2:nth-child(7) {
	background-color: rgb(255, 77, 255); 
}
.bg-color-cmyk2:nth-child(8) {
	background-color: rgb(255, 51, 255); 
}
.bg-color-cmyk2:nth-child(9) {
	background-color: rgb(255, 26, 255); 
}
.bg-color-cmyk2:nth-child(10) {
	background-color: rgb(255, 0, 255);
}

/*-----------------------------------CMYK row 3 -----------------------------*/

.bg-color-cmyk3:nth-child(1) {
	background-color: rgb(255, 255, 230);
}
.bg-color-cmyk3:nth-child(2) {
	background-color: rgb(255, 255, 204); 
}
.bg-color-cmyk3:nth-child(3) {
	background-color: rgb(255, 255, 179); 
}
.bg-color-cmyk3:nth-child(4) {
	background-color: rgb(255, 255, 153); 
}
.bg-color-cmyk3:nth-child(5) {
	background-color: rgb(255, 255, 128); 
}
.bg-color-cmyk3:nth-child(6) {
	background-color: rgb(255, 255, 102); 
}
.bg-color-cmyk3:nth-child(7) {
	background-color: rgb(255, 255, 77); 
}
.bg-color-cmyk3:nth-child(8) {
	background-color: rgb(255, 255, 51); 
}
.bg-color-cmyk3:nth-child(9) {
	background-color: rgb(255, 255, 26); 
}
.bg-color-cmyk3:nth-child(10) {
	background-color: rgb(255, 255, 0);
}

/*-----------------------------------CMYK row 4 -----------------------------*/

.bg-color-cmyk4:nth-child(1) {
	background-color: rgb(230, 230, 230);
}
.bg-color-cmyk4:nth-child(2) {
	background-color: rgb(204, 204, 204); 
}
.bg-color-cmyk4:nth-child(3) {
	background-color: rgb(179, 179, 179); 
}
.bg-color-cmyk4:nth-child(4) {
	background-color: rgb(153, 153, 153); 
}
.bg-color-cmyk4:nth-child(5) {
	background-color: rgb(128, 128, 128); 
}
.bg-color-cmyk4:nth-child(6) {
	background-color: rgb(102, 102, 102); 
}
.bg-color-cmyk4:nth-child(7) {
	background-color: rgb(77, 77, 77); 
}
.bg-color-cmyk4:nth-child(8) {
	background-color: rgb(51, 51, 51); 
}
.bg-color-cmyk4:nth-child(9) {
	background-color: rgb(26, 26, 26); 
}
.bg-color-cmyk4:nth-child(10) {
	background-color: rgb(0, 0, 0);
}

/*-----------------------------------CMYK row 5 -----------------------------*/

.bg-color-cmyk5:nth-child(1) {
	background-color: rgb(230, 230, 255);
}
.bg-color-cmyk5:nth-child(2) {
	background-color: rgb(204, 204, 255); 
}
.bg-color-cmyk5:nth-child(3) {
	background-color: rgb(179, 179, 255); 
}
.bg-color-cmyk5:nth-child(4) {
	background-color: rgb(153, 153, 255); 
}
.bg-color-cmyk5:nth-child(5) {
	background-color: rgb(128, 128, 255); 
}
.bg-color-cmyk5:nth-child(6) {
	background-color: rgb(102, 102, 255); 
}
.bg-color-cmyk5:nth-child(7) {
	background-color: rgb(77, 77, 255); 
}
.bg-color-cmyk5:nth-child(8) {
	background-color: rgb(51, 51, 255); 
}
.bg-color-cmyk5:nth-child(9) {
	background-color: rgb(26, 26, 255); 
}
.bg-color-cmyk5:nth-child(10) {
	background-color: rgb(0, 0, 255);
}

/*-----------------------------------CMYK row 6 -----------------------------*/

.bg-color-cmyk6:nth-child(1) {
	background-color: rgb(255, 230, 230);
}
.bg-color-cmyk6:nth-child(2) {
	background-color: rgb(255, 204, 204); 
}
.bg-color-cmyk6:nth-child(3) {
	background-color: rgb(255, 179, 179); 
}
.bg-color-cmyk6:nth-child(4) {
	background-color: rgb(255, 153, 153); 
}
.bg-color-cmyk6:nth-child(5) {
	background-color: rgb(255, 128, 128); 
}
.bg-color-cmyk6:nth-child(6) {
	background-color: rgb(255, 102, 102); 
}
.bg-color-cmyk6:nth-child(7) {
	background-color: rgb(255, 77, 77); 
}
.bg-color-cmyk6:nth-child(8) {
	background-color: rgb(255, 51, 51); 
}
.bg-color-cmyk6:nth-child(9) {
	background-color: rgb(255, 26, 26); 
}
.bg-color-cmyk6:nth-child(10) {
	background-color: rgb(255, 0, 0);
}

/*-----------------------------------CMYK row 7 -----------------------------*/

.bg-color-cmyk7:nth-child(1) {
	background-color: rgb(230, 255, 230);
}
.bg-color-cmyk7:nth-child(2) {
	background-color: rgb(204, 255, 204); 
}
.bg-color-cmyk7:nth-child(3) {
	background-color: rgb(179, 255, 179); 
}
.bg-color-cmyk7:nth-child(4) {
	background-color: rgb(153, 255, 153); 
}
.bg-color-cmyk7:nth-child(5) {
	background-color: rgb(128, 255, 128); 
}
.bg-color-cmyk7:nth-child(6) {
	background-color: rgb(102, 255, 102); 
}
.bg-color-cmyk7:nth-child(7) {
	background-color: rgb(77, 255, 77); 
}
.bg-color-cmyk7:nth-child(8) {
	background-color: rgb(51, 255, 51); 
}
.bg-color-cmyk7:nth-child(9) {
	background-color: rgb(26, 255, 26); 
}
.bg-color-cmyk7:nth-child(10) {
	background-color: rgb(0, 255, 0);
}

/*-----------------------------------CMYK row 8 -----------------------------*/

.bg-color-cmyk8:nth-child(1) {
	background-color: rgb(0, 0, 230);
}
.bg-color-cmyk8:nth-child(2) {
	background-color: rgb(0, 0, 204); 
}
.bg-color-cmyk8:nth-child(3) {
	background-color: rgb(0, 0, 179); 
}
.bg-color-cmyk8:nth-child(4) {
	background-color: rgb(0, 0, 153); 
}
.bg-color-cmyk8:nth-child(5) {
	background-color: rgb(0, 0, 128); 
}
.bg-color-cmyk8:nth-child(6) {
	background-color: rgb(0, 0, 102); 
}
.bg-color-cmyk8:nth-child(7) {
	background-color: rgb(0, 0, 77); 
}
.bg-color-cmyk8:nth-child(8) {
	background-color: rgb(0, 0, 51); 
}
.bg-color-cmyk8:nth-child(9) {
	background-color: rgb(0, 0, 26); 
}
.bg-color-cmyk8:nth-child(10) {
	background-color: rgb(0, 0, 0);
}

/*-----------------------------------CMYK row 9 -----------------------------*/

.bg-color-cmyk9:nth-child(1) {
	background-color: rgb(0, 230, 0);
}
.bg-color-cmyk9:nth-child(2) {
	background-color: rgb(0, 204, 0); 
}
.bg-color-cmyk9:nth-child(3) {
	background-color: rgb(0, 179, 0); 
}
.bg-color-cmyk9:nth-child(4) {
	background-color: rgb(0, 153, 0); 
}
.bg-color-cmyk9:nth-child(5) {
	background-color: rgb(0, 128, 0); 
}
.bg-color-cmyk9:nth-child(6) {
	background-color: rgb(0, 102, 0); 
}
.bg-color-cmyk9:nth-child(7) {
	background-color: rgb(0, 77, 0); 
}
.bg-color-cmyk9:nth-child(8) {
	background-color: rgb(0, 51, 0); 
}
.bg-color-cmyk9:nth-child(9) {
	background-color: rgb(0, 26, 0); 
}
.bg-color-cmyk9:nth-child(10) {
	background-color: rgb(0, 0, 0);
}

/*-----------------------------------CMYK row 10 -----------------------------*/

.bg-color-cmyk10:nth-child(1) {
	background-color: rgb(230, 0, 0);
}
.bg-color-cmyk10:nth-child(2) {
	background-color: rgb(204, 0, 0); 
}
.bg-color-cmyk10:nth-child(3) {
	background-color: rgb(179, 0, 0); 
}
.bg-color-cmyk10:nth-child(4) {
	background-color: rgb(153, 0, 0); 
}
.bg-color-cmyk10:nth-child(5) {
	background-color: rgb(128, 0, 0); 
}
.bg-color-cmyk10:nth-child(6) {
	background-color: rgb(102, 0, 0); 
}
.bg-color-cmyk10:nth-child(7) {
	background-color: rgb(77, 0, 0); 
}
.bg-color-cmyk10:nth-child(8) {
	background-color: rgb(51, 0, 0); 
}
.bg-color-cmyk10:nth-child(9) {
	background-color: rgb(26, 0, 0); 
}
.bg-color-cmyk10:nth-child(10) {
	background-color: rgb(0, 0, 0);
}

/*-----------------------------------CMYK row 11 -----------------------------*/

input::selection {
	background-color: transparent;
	color: transparent;
}

#myInput1, #myInput2, #myInput3, #myInput4, #myInput5, #myInput6, #myInput7, #myInput8,#myInput9, #myInput10, 
#myInput11, #myInput12, #myInput13, #myInput14, #myInput15, #myInput16, #myInput17, #myInput18, #myInput19, #myInput20,
#myInput21, #myInput22, #myInput23, #myInput24, #myInput25, #myInput26, #myInput27, #myInput28, #myInput29, #myInput30,
#myInput31, #myInput32, #myInput33, #myInput34, #myInput35, #myInput36, #myInput37, #myInput38, #myInput39, #myInput40,
#myInput41, #myInput42, #myInput43, #myInput44, #myInput45, #myInput46, #myInput47, #myInput48, #myInput49, #myInput50,
#myInput51, #myInput52, #myInput53, #myInput54, #myInput55, #myInput56, #myInput57, #myInput58, #myInput59, #myInput60,
#myInput61, #myInput62, #myInput63, #myInput64, #myInput65, #myInput66, #myInput67, #myInput68, #myInput69, #myInput70,
#myInput71, #myInput72, #myInput73, #myInput74, #myInput75, #myInput76, #myInput77, #myInput78, #myInput79, #myInput80 {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid rgba(100, 100, 100, 0.3);
	cursor: pointer;
	color: transparent;
	font-size:10px;
}

#myInput1 {
	background-color: rgb(199, 8, 0);
} 
#myInput2 {
	background-color: rgb(145, 41, 60); 
}
#myInput3 {
	background-color: rgb(240, 194, 0); 
}
#myInput4 {
	background-color: rgb(134, 76, 166); 
}
#myInput5 {
	background-color: rgb(19, 14, 23); 
}
#myInput6 {
	background-color: rgb(161, 255, 20); 
}
#myInput7 {
	background-color: rgb(52, 201, 36); 
}
#myInput8 {
	background-color: rgb(230, 126, 48); 
}
#myInput9 {
	background-color: rgb(121, 247, 247); 
}
#myInput10 {
	background-color: rgb(124, 161, 92);
}

/*-----------------------------------CMYK row 12 -----------------------------*/

#myInput11 {
	background-color: rgb(56, 0, 41);
} 
#myInput12 {
	background-color: rgb(158, 62, 13); 
}
#myInput13 {
	background-color: rgb(255, 204, 97); 
}
#myInput14 {
	background-color: rgb(240, 255, 255); 
}
#myInput15 {
	background-color: rgb(171, 122, 255); 
}
#myInput16 {
	background-color: rgb(115, 8, 0); 
}
#myInput17 {
	background-color: rgb(199, 171, 125); 
}
#myInput18 {
	background-color: rgb(176, 167, 123); 
}
#myInput19 {
	background-color: rgb(232, 200, 176); 
}
#myInput20 {
	background-color: rgb(36, 68, 92);
}

/*-----------------------------------CMYK row 13 -----------------------------*/

#myInput21 {
	background-color: rgb(117, 110, 100);
} 
#myInput22 {
	background-color: rgb(242, 228, 191); 
}
#myInput23 {
	background-color: rgb(115, 62, 101); 
}
#myInput24 {
	background-color: rgb(255, 227, 196); 
}
#myInput25 {
	background-color: rgb(61, 43, 31); 
}
#myInput26 {
	background-color: rgb(133, 109, 77); 
}
#myInput27 {
	background-color: rgb(79, 62, 40); 
}
#myInput28 {
	background-color: rgb(18, 13, 9); 
}
#myInput29 {
	background-color: rgb(92, 61, 17); 
}
#myInput30 {
	background-color: rgb(49, 142, 232);
}

/*-----------------------------------CMYK row 14 -----------------------------*/

#myInput31 {
	background-color: rgb(227, 188, 116);
} 
#myInput32 {
	background-color: rgb(83, 114, 173); 
}
#myInput33 {
	background-color: rgb(128, 143, 166); 
}
#myInput34 {
	background-color: rgb(0, 148, 181); 
}
#myInput35 {
	background-color: rgb(120, 181, 255); 
}
#myInput36 {
	background-color: rgb(0, 204, 204); 
}
#myInput37 {
	background-color: rgb(143, 163, 199); 
}
#myInput38 {
	background-color: rgb(86, 115, 153); 
}
#myInput39 {
	background-color: rgb(110, 7, 26); 
}
#myInput40 {
	background-color: rgb(133, 46, 27);
}

/*-----------------------------------CMYK row 15 -----------------------------*/

#myInput41 {
	background-color: rgb(97, 78, 26);
} 
#myInput42 {
	background-color: rgb(196, 106, 143); 
}
#myInput43 {
	background-color: rgb(89, 42, 0); 
}
#myInput44 {
	background-color: rgb(92, 61, 17); 
}
#myInput45 {
	background-color: rgb(237, 211, 140); 
}
#myInput46 {
	background-color: rgb(204, 86, 0); 
}
#myInput47 {
	background-color: rgb(240, 228, 108); 
}
#myInput48 {
	background-color: rgb(189, 51, 164); 
}
#myInput49 {
	background-color: rgb(112, 42, 99); 
}
#myInput50 {
	background-color: rgb(46, 26, 12);
}

/*-----------------------------------CMYK row 16 -----------------------------*/

#myInput51 {
	background-color: rgb(38, 197, 237);
} 
#myInput52 {
	background-color: rgb(69, 45, 1); 
}
#myInput53 {
	background-color: rgb(181, 119, 34); 
}
#myInput54 {
	background-color: rgb(250, 65, 157); 
}
#myInput55 {
	background-color: rgb(125, 87, 52); 
}
#myInput56 {
	background-color: rgb(125, 50, 0); 
}
#myInput57 {
	background-color: rgb(18, 13, 9); 
}
#myInput58 {
	background-color: rgb(184, 31, 17); 
}
#myInput59 {
	background-color: rgb(150, 0, 24); 
}
#myInput60 {
	background-color: rgb(242, 107, 36);
}

/*-----------------------------------CMYK row 17 -----------------------------*/

#myInput61 {
	background-color: rgb(43, 3, 11);
} 
#myInput62 {
	background-color: rgb(59, 2, 13); 
}
#myInput63 {
	background-color: rgb(133, 82, 15); 
}
#myInput64 {
	background-color: rgb(131, 166, 151); 
}
#myInput65 {
	background-color: rgb(14, 158, 232); 
}
#myInput66 {
	background-color: rgb(116, 208, 242); 
}
#myInput67 {
	background-color: rgb(53, 123, 184); 
}
#myInput68 {
	background-color: rgb(255, 196, 173); 
}
#myInput69 {
	background-color: rgb(209, 192, 123); 
}
#myInput70 {
	background-color: rgb(250, 240, 182);
}

/*-----------------------------------CMYK row 18 -----------------------------*/

#myInput71 {
	background-color: rgb(28, 34, 38);
} 
#myInput72 {
	background-color: rgb(186, 11, 11); 
}
#myInput73 {
	background-color: rgb(222, 49, 100); 
}
#myInput74 {
	background-color: rgb(128, 108, 89); 
}
#myInput75 {
	background-color: rgb(166, 103, 38); 
}
#myInput76 {
	background-color: rgb(230, 240, 12); 
}
#myInput77 {
	background-color: rgb(79, 22, 9); 
}
#myInput78 {
	background-color: rgb(89, 57, 34); 
}
#myInput79 {
	background-color: rgb(237, 255, 13); 
}
#myInput80 {
	background-color: rgb(255, 255, 5);
}

#aid {
	width: 150px;
	height: 48px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border: 1px solid white;
	font-size: 20px;
	padding: 0px;
	margin-right: 0px;
	margin-top: 25vh;
	border-radius: 4px;
	text-align: center;
	}

input[type=color]:hover + button{
	width: 150px;
	height: 48px;
	background-color:rgba(0,0,0,1);
	border-radius: 4px;
	}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: gray;
	color: whitesmoke;
	padding: 5px;
	font-size: 20px;
	z-index: 1;
}

#myBtn {
	display: block; 
	position: fixed; 
	bottom: 20px; 
	right: 30px; 
	z-index: 1; 
	border: none;
	outline: none;
	background-color: gray; 
	color: white; 
	cursor: pointer;
	padding: 15px; 
	border-radius: 10px; 
	font-size: 18px; 
	font-family: Arial, Helvetica, sans-serif;
 }

#myBtn:hover {
	background-color: #555; 
}

.video-explanation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	
}

.bg-color-video {
	background-color: black;
	margin-top: -16px;
	padding: 55px;
}

iframe {
	border: 1px solid whitesmoke;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td:nth-child(odd) {
	font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#img-about-colors {
	width: 100vw;
	height: auto;
}

#copyright {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
}

@include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

// Example usage:
@include media-breakpoint-up(sm) {
  .some-class {
    display: block;
  }
}